html {
  font-size: 62.5%; // 1rem => 10px
}

body {
  font-size: $font-size-base;
  box-sizing: border-box;
  font-family: $font-base;
  background-color: $c-pageBackground;
}

.main {
  margin: 0 auto;
  max-width: $wrapper;
  padding: 0 $gap-xsmall;
  display: grid;
  min-height: calc(100vh - $footer-height);
}
