.bio {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &__avatar {
    margin-right: 2rem;
    border-radius: 50%;
  }

  &__twitter {
    font-size: 2rem;
    color: $c-secondary;
  }
}
