@import 'styles/common/component-set';

.link {
  font-size: 16px;
  text-decoration: none;

  &--nav {
    padding: 0 1rem;

    @include breakpoint(lg-up) {
      padding: 0 1.75rem;
    }
  }

  &--hamburger {
    padding: 24px 0;
    @include font-size(26);

    &:last-of-type {
      padding: 24px 0 48px;
    }
  }
}
