@mixin breakpoint($point) {
  $query-direction: '';
  $query-point: '';
  $query-size: '';

  @if str-index($point, '-up') {
    $query-direction: 'min-width';
    $query-point: str-slice($point, 0, str-length($point) - str-length('-up'));
    $query-size: map-get($breakpoints, $query-point);
  } @else {
    @if str-index($point, '-down') {
      $query-point: str-slice(
        $point,
        0,
        str-length($point) - str-length('-down')
      );
    } @else {
      $query-point: $point;
    }

    $query-direction: 'max-width';
    $query-size: map-get($breakpoints, $query-point) - 1px;
  }

  @media screen and (#{$query-direction}: #{$query-size}) {
    @content;
  }
}

@mixin button($backgroundColor: var(--c-cerulean), $textColor: var(--c-white)) {
  font-size: 1rem;
  font-weight: 500;
  color: $textColor;
  display: inline-block;
  padding: var(--spaceSmall) var(--spaceBig);
  cursor: pointer;
  background-color: $backgroundColor;
  border: 0;
  border-radius: 6px;
  transition: 0.3s;

  &:hover {
    background-color: darken($backgroundColor, 10%);
  }
}
