@import 'utils';

.typography {
  font-weight: auto;
  margin: 0;
  padding: 0;
  line-height: 1.5;

  &--regular {
    font-weight: 400;
  }

  &--medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: 700;
  }

  &--italic {
    font-style: italic;
  }

  &--h1 {
    font-size: 3rem;

    @include breakpoint(md-up) {
      font-size: 4.2rem;
    }
  }

  &--h2 {
    font-size: 2.6rem;

    @include breakpoint(md-up) {
      font-size: 3.2rem;
    }
  }

  &--h3 {
    font-size: 2.2rem;

    @include breakpoint(md-up) {
      font-size: 2.8rem;
    }
  }

  &--sub-h1 {
    @extend .typography--h2;
  }

  &--sub-h2 {
    font-size: 1.8rem;

    @include breakpoint(md-up) {
      font-size: 2.4rem;
    }
  }

  &--body1 {
    font-size: 2.2rem;
  }

  &--body2 {
    font-size: 1.8rem;
  }

  &--body3 {
    font-size: 1.6rem;
  }

  &--body4 {
    font-size: 1.4rem;
  }

  &--body5 {
    font-size: 1.2rem;
  }

  &--body6 {
    font-size: 1rem;
  }
}

@include lineHeight('big');
@include lineHeight('regular');
@include lineHeight('small');

@include gutter('bottom');
@include gutter('top');
@include gutter('left');
@include gutter('right');

@include align('inherit');
@include align('left');
@include align('center');
