.articles {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__post {
    background-color: $c-white;
    margin-bottom: $gap-small;
    padding: $gap-large;
  }
}

.post {
  &__title {
    font-size: 3rem;
  }

  &__date {
    font-size: 1.6rem;
    margin-bottom: $gap-small;
  }
}
