.header {
  background-color: $c-white;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: $gap-small;
    max-width: $wrapper;
    margin: 0 auto;

    @include breakpoint(md-up) {
      flex-direction: row;
    }
  }

  &__logo {
    width: 300px;
  }

  &__title {
    color: $c-white;
  }
}
